.upcoming-events-container {
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.upcoming-event {
    display: flex;
    justify-content: space-between;
}

.upcoming-event div p {
    font-size: 14px;
    color: #4e9750;
}

.event-img {
    width: 200px;
    height: 0;
}

.upcoming-event div button {
    background-color: #00000033;
    padding: 10px;
    font-weight: 700;
}

.end {
    display: flex;
    justify-content: flex-end;
}